body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-self: center;
}
.form{
  background: rgba(210, 217, 224, 0.95);
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  position: relative;
}
.headline {
  position: absolute;
  color: #e74c3c;
  font-weight: 800;
  font-size: 60px;
  margin: 7%;
  z-index: 2;
}
.image {
  position: relative;
  height: 450px;
  border-radius: 5px;
  z-index: 1;
}
fieldset {
  border: 2px solid #3498db;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
}
legend{
  font-size: 18px;
  font-weight: bold;
  color: #3498db;
  padding: 0 10px;
}
label{
  width: 120px;
  font-size: 14px;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
textarea {
  width: 350px;
  padding: 8px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
.error{
  color: #ff0000;
  font-size: 12px;
  display: block;
  margin-top: 5px;
}
.button{
  background-color: #3498db;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
}
.submit{
  background-color: #2ecc71;
}
.clear{
  background-color: #e74c3c;
}
.success-message{
  color: #dd8109;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}